<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello, {{clientName}}</p>
  <p>We would love to hear your thoughts or feedback on
    how was your experience with {{senderName}} at Home!</p>

  <p><a href="https://forms.gle/ARPkeHZpSinGFguV8">Feedback Form</a></p>
  <p>Att,<br /> <strong>Team {{senderName}}</strong></p>
</div>