<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello {{clientName}},</p>
  <p>We would love to hear your thoughts on your experience with {{senderName}}.</p>

  <a href={{link}}><img src="cid:feedback-img" alt="feedback" width="30%"></a>
  <p>Att,<br /> <strong>{{senderName}} Team</strong></p>
</div>